* {
  font-family: "Jaini Purva";
}

body {
  background-image: url(../vektorok/Főoldal_Vektor.png);
  background-size: cover;
  background-attachment: fixed;
  /*height: 100vh;*/
  margin-left: 30px;
}

h1 {
  color: rgb(225, 173, 229);
  font-size: 60px;
  margin: 15px;
  margin-top: 30px;
  text-shadow: 0px 4px 4px rgb(0, 0, 0);
}

h3 {
  color: rgb(208, 189, 207);
  font-size: 20px;
  margin: 15px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.637);
}

button {
  background-color: rgb(69, 38, 83);
  box-shadow: 3px 6px 0px rgb(0, 0, 0, 40%);
  width: 250px;
  height: 75px;
  margin: 25px;
  border: none;
  border-radius: 12px;
  font-weight: bolder;
  font-size: 25px;
}

button:hover {
  background-color: rgb(47, 29, 56);
}

.logo {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 200px;
}

.elerhetoseg {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 15px;
  color: white;
  font-size: 20px;
  margin-left: 50px;
  margin-bottom: 25px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.658);
}

.szoveg {
  color: white;
  font-size: 30px;
  text-align: justify;
  margin-left: 900px;
  margin-right: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
}

a {
  text-decoration: none;
}
