* {
  font-family: "Jaini Purva";
}

body {
  background-color: rgb(49, 34, 56);
  margin-left: 30px;
}

h1 {
  color: rgb(225, 173, 229);
  font-size: 60px;
  margin: 15px;
  text-shadow: 0px 4px 4px rgb(0, 0, 0);
}

h3 {
  color: rgb(208, 189, 207);
  font-size: 20px;
  margin: 15px;
}
